.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  min-width: 100px;
  max-width: 138px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.input {
  height: 42px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid #D5D6DC;
  background: #fff;
  padding-left: 12px;
  position: relative;
  caret-color: #9854F6;
}

.input::placeholder {
  color: #ACADB9;
}

.input:hover,
.input:focus-within {
  border: 1px solid #9854F6;
}

.input:invalid,
.input__invalid {
  border: 1px solid #e63f3f;
}

.input__invalid:hover,
.input__invalid:focus-within {
  border: 1px solid #e63f3f;
}