.content {
    width: calc(100% - 280px);
    min-height: 100vh;
    margin-left: 280px;
    display: flex;
    justify-content: center;
  }
  
  .wrapper {
    width: 980px;
    padding-top: 40px;
    margin: 0 20px;
    position: relative;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .title h1 {
    font-size: 32px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .paginationSection {
    margin: 24px 0;
    display: flex;
    justify-content: center;
  }

  .notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notFound p {
    font-size: 20px;
    font-weight: 700;
    margin: 16px 0;
}

.dots {
  display: none;
}

@media screen and (max-width: 1050px) {
  .content {
    width: 100%;
    min-height: calc(100vh - 60px);
    margin-left: 0;
  }
}


@media screen and (max-width: 580px) {
  .title {
    flex-direction: column;
  }

  .title h1 {
    margin-bottom: 20px;
    margin-right: 0;
  }
}


@media screen and (max-width: 460px) {
  .wrapper {
    width: 300px;
    margin: 0 10px;
  }

  .notFound {
    width: 300px;
  }

  .notFound img {
    width: 300px;
    height: auto;
  }

  .notFound p {
    font-size: 18px;
  }
}