.content {
  width: calc(100% - 280px);
  height: 100vh;
  margin-left: 280px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 800px;
  padding-top: 40px;
  margin: 0 10px;
  position: relative;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs a,
.breadcrumbs p {
  color: #9854F6;
}

.breadcrumbs a:hover {
  color: #BD93F7;
}

.breadcrumbs a:active {
  color: #541F9D;
}

.breadcrumbs span {
 margin: 0 10px; 
}

