.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    display: none;
    padding: 40px;
    z-index: 1000;
  }
  
  .content {
    background: white;
    border-radius: 8px;
    width: 380px;
    height: 208px;
  }
  
  .active {
    display: flex;
  }

.header {
  height: 54px;
  display: flex;
  border-bottom: 1px solid #EAEBED;
  padding: 0 16px;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}  

.main {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.main h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
}

.buttons {
  margin-top: 18px;
  display: flex;
  width: 188px;
  align-items: center;
  justify-content: space-between;
}

.saveBtn {
  padding: 10px 20px;
  border-radius: 8px;
  background: #9854F6;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.saveBtn:hover {
  background: #BD93F7;
}

.saveBtn:active {
  background: #541F9D;
}

.removeBtn {
  font-weight: 600;
  color: #9854F6;
  background: none;
  cursor: pointer;
}

.removeBtn:hover {
  color: #BD93F7;
}

.removeBtn:active {
  color: #541F9D;
}