.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    display: none;
    padding: 40px;
    z-index: 1000;
  }
  
  .content {
    background: white;
    border-radius: 8px;
    width: 380px;
    min-height: 208px;
    margin-top: -42px;
  }
  
  .active {
    display: flex;
  }


  @media screen and (max-width: 420px) {
    .content {
      min-width: 300px;
    }
  }