.notFound {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #F5F5F6;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: fixed;
    display: flex;
    align-items: center;
    top: 24px;
    left: 24px;
    z-index: 10;
}
  
.logo span {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #9854F6;
    margin-left: 12px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    margin-top: -30px;
}

.article p {
    font-size: 20px;
    font-weight: 700;
    margin: 48px 0 16px 0;
    text-align: center;
    line-height: 26px;
}


@media screen and (max-width: 800px) {
    .article img {
        width: 400px;
        height: auto;
    }
}


@media screen and (max-width: 500px) {
    .article img {
        width: 280px;
    }
}