.content {
  width: calc(100% - 280px);
  min-height: calc(100vh - 138px);
  margin-left: 280px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 980px;
  padding-top: 56px;
  margin: 0 20px;
  position: relative;
}

.title {
  font-size: 32px;
}

.paginationSection {
  width: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.notFoundMovies {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFoundMovies p {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 700;
}


@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
    min-height: calc(100vh - 60px - 138px);
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}


@media screen and (max-width: 840px) {
  .paginationSection {
    justify-content: center;
  }
}

@media screen and (max-width: 510px) {
  .notFoundMovies img {
    width: 300px;
    height: auto;
  }
  
  .notFoundMovies p {
    width: 300px;
    text-align: center;
  }
}


@media screen and (max-width: 460px) {
  .wrapper {
    min-width: 300px;
    margin: 0 10px;
  }

  .title {
    display: flex;
    justify-content: center;
  }
}