@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
  margin: 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #9854F6;
  margin-left: 12px;
}

.header nav {
  margin-top: 80px;
}

.header nav a {
  font-size: 16px;
}

.header nav li:first-child {
  margin-bottom: 16px;
}


@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
    margin: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header nav {
    margin-top: 0;
  }

  .header ul {
    display: flex;
    align-items: center;
  }
  
  .header nav a {
    font-size: 16px;
    padding: 0 10px;
  }
  
  .header nav li:first-child {
    margin-bottom: 0;
    margin-right: 16px;
  }
}


@media screen and (max-width: 460px) {
  .logo span {
    display: none;
  }
}