.content {
  width: calc(100% - 280px);
  min-height: calc(100vh - 138px);
  margin-left: 280px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 980px;
  padding-top: 42px;
  margin: 0 10px;
}