.filtersSort {
  width: 100%;
}

.filters {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.ratingAndBtn {
  display: flex;
  position: relative;
}

.rating { 
  display: flex;
  width: 284px;
  justify-content: space-between;
}

.rating_errorMassage p {
  margin-top: 2px;
  font-size: 16px;
  position: absolute;
  color: #e63f3f;
}

.resetBtn {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 42px;
  align-self: end;
  margin-left: 10px;
}

.sort {
  display: flex;
  justify-content: flex-end;
}

.filters__openBtn {
  display: none;
  cursor: pointer;
}

.filters__openBtn:hover {
  opacity: 0.8;
}


@media screen and (max-width: 840px) {
  .filtersSort {
    width: 100%;
    overflow: hidden;
    height: 60px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 24px 0;
    transition: 0.8s;
    position: relative;
  }

  .filtersSort_active {
    /*height: 492px;*/
    height: auto;
  }

  .sort {
    display: flex;
    justify-content: center;
  }

  .filters {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ratingAndBtn {
    display: flex;
    flex-direction: column;
  }

  .rating { 
    margin-top: 20px;
  }

  .resetBtn {
    margin-top: 20px;
    margin-left: 0;
    width: 284px;
    display: flex;
    justify-content: center;
  }

  .filters__openBtn {
    display: flex;
    width: 284px;
    height: 60px;
    flex-shrink: 0;
    background: rgb(233, 233, 233);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: #9854F6;
    margin-top: 10px;
  }

  .filters__openBtn img {
    width: 24px;
    margin-left: 8px;
  }
}